# Environnements virtuels
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers système et IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
